.banner{
  background-image: url("https://images4.alphacoders.com/150/150168.jpg") ;
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  margin: auto;
}

.banner h1 {
  color: rgb(58, 226, 17);
  text-align: center;
}

.banner p {
  color: rgb(3, 3, 3);
  text-align: center;
  opacity: .7;
  font-size: 20px;
}
